@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    --bg-color-1: #00031D;
    --bg-color-2: #001732;
    --bg-color-3: #002148;
    --bg-color-4: #013552;
    --bg-color-5: #005365;
    --bg-color-6: #70006B;
    --bg-color-7: #9A006F;
    --bg-color-8: #94003E;

    --primary-text-color: white;
    --secondary-text-color: rgba(255, 255, 255, 0.8);

    --text-shadow-color-1: rgba(255, 255, 255, 0.199);

    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: var(--secondary-text-color);
    text-align: center;
}

body:hover {
    cursor: default;
}

p {
    display: inline;
    margin: 0;
    font-size: 2.5rem;
    font-weight: 200;
}

.page {
    width: 70px;
    fill: var(--secondary-text-color);
    position: fixed;
    transition: width 0.7s, fill 0.7s;
}

.page:hover {
    width: 73px;
    fill: var(--primary-text-color);
}

.page.next {
    bottom: 25px;
}

.page.previous {
    top: 25px;
    transform: rotate(180deg);
}